* {
    background-color: #d69ae5;
}
body {
    font-family: "Pixelify_Sans";
    font-weight: 100;
    color: lavender;
}
    
.profile-pic {
    border: solid;
    border-radius:100%;
    border-color: white;
    max-width:400px;
}

header {
    display: flex;
    justify-content: space-evenly;
}

footer {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.icon {
   width: 50px;
}

.content-wrapper {
    margin: 20px 25px 20px 25px;
    padding: 20px;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.bio-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 500px;
}

#bio-desc {
    text-align: center;
}

.project-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 500px;
    justify-content: center;
    gap: 20px;
}

#projects {
    text-align: center;
}

#currently {
    text-align: center;
}

.bottom-wrapper {
    display: flex;
    flex-direction: row;
    min-height: 800px;
    
}
.rec-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 40%;
    justify-content: flex-start;
}

#about-me {
    min-width: 40%;
    display: flex;
    flex-direction: column;
}

#coding-journey {
    justify-content: space-between;
    word-wrap: break-word;
    text-align: justify;
    max-width: 50%;
}

#complete-list, #current-list {
    text-align: start;
    text-decoration: none;
}

.album-cover {
    width: 200px;
}