* {
    background-color: #d69ae5;
}
body {
    font-family: "Pixelify_Sans";
    font-weight: 100;
    color: lavender;
}
    
.profile-pic {
    border-radius: 75%;
    border-color: white;
    border-width: medium;
}

#mini-avtr {
    width: 50px;
}

#big-avtr {
    width: 100px;
}

header {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center;
}

.content-wrapper {
    display: flex;
}